body{
    text-align: center;
    width: 100%;
}

#lottoGo{
    margin-top: 10px;
    border: 2px solid black;
    background-color: black;
    color: white;
}

#lottoGo:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

ul{
    list-style: none;
}