#container{
    background-color: cyan;
    width: 200px;
}

#addToDoBtn{
    height: 50px;
    width: 50px;
    color: white;
    background-color: blue;
    border: 2px dashed black;
}

h1{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
}

h2{
    color: violet;
    letter-spacing: 2px;
}